*.log
*.jou
*.rpt
*.str
*_timing_summary_routed.rpt
*_timing_summary_post_place.rpt
*.vds
*.pb

# Directorios generados por Vivado
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/sources_1/bd/*/hw_handoff/
*.srcs/sources_1/bd/*/hdl/
*.srcs/sources_1/bd/*/ip/
*.srcs/sources_1/bd/*/ui/
*.srcs/sources_1/imports/

# Archivos específicos del proyecto que se pueden regenerar
*.xpr.internal
*.xpr.orig
*_wrapper.v
*_wrapper.vhd
*.tcl.layout
*.wdb
.Xil/

# Archivos de WebTalk (estadísticas de uso)
webtalk.log
webtalk.jou