# Archivos y carpetas generados por Vivado que DEBEN ignorarse
*.log
*.jou
*.cache/
*.data/
*.hw/
*.impl/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/sources_1/bd/
*.board/

# Ignorar archivos de proyecto, excepto el principal
*.xpr.internal
*.xpr.cache
*.xpr.user
*.str
